*{
    font-family: 'Open Sans';
 }
h2{
   font-family: 'Raleway';
}
.divider{
   border-bottom: 2px solid navy;
   width:10%;

}
.section h2{
  font-weight: bold;
}

@media only screen and (max-width: 767px){
       .mbl-hidden{
         display: none;
       }
       .mbl-center{
         margin: 0 auto;
         text-align: center;
       }
       .mbl-margin{
         padding-top: 50px;

       }
}
@media only screen and (min-width: 768px){
.center{
  margin: 0 auto;
  text-align: center;
}
.div-center{
   margin: 0 auto;
}

}
.info-section{
  background:  #f2f2f2;
 }
 .bold{
   font-weight: bold;
 }
.icon{
  font-size: 64px;
  color: #0bb5ff;
}

.course-card{
   box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.small{
  font-size: 0.8em;
  color: gray;
}
.small-heading{
  font-weight: bold;
  font-size:1.1em;

}
.button:hover{
  color: white !important;
}
