*{
  padding: 0;
  margin : 0;
  box-sizing : border-box;
  font-family : 'Lora', serif;
}
body{
}

img{
   max-width: 100%;
}
.nav-link{
    text-transform: uppercase;
 }
 #accordion{
    text-align: left;
    margin-bottom: 80px;
  }
  .navbar{
    position: sticky;
    top:0;
    z-index: 1;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    background: #fff;

}

.container{
    margin-top: 50px;
    text-align: justify;
    margin-bottom: 10px;

}
.gallery-container{
   margin-bottom: 30px;
}

.image-div{
    padding:2%;
}

.image-div img{
   width:100%;
}

@media only screen and (min-width:600px){
        .image-div{
            width:50%;
            float:left;

           }
}

@media only screen and (min-width:768px){
        .image-div{
            width:50%;
            float:left;

           }
}

@media only screen and (min-width:768px){
    .main{
         padding-left:5%;
         padding-right:5%;
    }

}

 @media only screen and (min-width:600px){
    .logo{
        width:80%;
    }

}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.date{
 font-size:1em;

}
.para{
    font-size: 1.1em;
    color:#707070;
    margin-bottom:40px;

}

.para-image{
    margin-top:10px;
    margin-bottom: 10px;
}

.notice{
    font-size:1.8em;
    font-weight: 500;
}

.notice-bar a{
  font-size : 1.1em;
}

.notice-card{
  margin-bottom:30px;
}
@media only screen and (min-width:768px){
    .nav-item{
        margin-left:10px;
        margin-right: 20px;
    }
 }

 footer{
    margin-top : 50px;
    padding:10px;
    background-color:#00004d;
    color:#fff;
}
.footer-text{
   text-align:center;
  }

.btn-black{
  color: #000;
  text-decoration : none;
}
.btn-black:hover{
  color:navy;
  text-decoration : none;
}

.navy{
  color:navy;

}
.heading{
  letter-spacing:0.05em;
  font-weight:bold;
}
