{% extends 'academics/base.html' %}
{% load static %}
{% block content %}
 <h2 class="navy mb-5 heading">About Us </h2>
        <div class="para">
              <p>
                <span class="bold">Nepal College of Information  Technology – NCIT</span>, established in 2001,
                 runs Pokhara University-affiliated Bachelor’s and Master’s programs – BE, BBA, ME, MSc & MCIS.
                Our  Engineering Degrees are approved by  the Nepal Engineering Council. It has  produced over
                a thousand engineers  since its establishment.
               </p>


             <p>   NCIT, a pioneer private institution  providing engineering education in  Nepal, is renowned for  excellence in  teaching & research, while maintaining  close and mutually beneficial links  with various sectors. The College  provides excellent higher education  opportunities and nurtures individual  talent using an applicable knowledge  base that fully supports ongoing social  changes and economic advances.
                The institution is committed to providing quality education  in various engineering disciplines
                 keeping in mind  emerging professional needs. Our highly qualified and  experienced faculty is
                  fully dedicated to their teaching. We  have a state-of-the-art infrastructure to foster academic  excellence. Moreover, we provide vital non-credit inputs  including research & project work, supplementing the  regular
                courses to meet the diverse learning needs of its  students and improve their
                employability.</p>

                <p>
                    <img class="para-image" src="{% static 'academics/images/carousel/building.jpg' %}" alt="">
                </p>

        <p>
            The College is also an authorized training partner of  CISCO, Red Hat, and Microsoft.
            It provides related- training and conducts preparatory examinations leading to internationally
             recognized certifications from these  renowned institutions. NCIT has MOUs with the Microsoft
              Innovation Center and many reputed multinational and  local companies for internships and
              training programmers.

        </p>
                <p>
                NCIT envisions an institutional role for itself beyond  academic boundaries.
                It takes the aspirations and future  success of its students as pathway to nation building.
               </p>

        </div>


{% endblock %}