<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ncit</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'academics/css/reset.css' %}"/>
<!--    <link rel="stylesheet" href="{% static 'academics/css/base.css' %}"/>-->


</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><img class="logo" src="{% static 'academics/images/logo.png' %}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="/">Home </a>
         </li>
           <li class="nav-item">
              <a class="nav-link" href="{% url 'facility' %}">Facilities </a>
         </li>



        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Programs
            </a>
            <ul class="dropdown-menu drop-links">
                {% for program in programs %}
               <li class="dropdown-item">
                   <a class="dropdown-item" href="{{program.get_absolute_url}}">
                       {% if current_program.name == program.name%}
                        <span class="text-muted">{{program.name}}</span>
                       {% else %}
                       <span >{{program.name}}</span>
                       {% endif %}
                   </a>
                </li>
                {% endfor %}
             </ul>
        </li>

            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Admission
            </a>
            <ul class="dropdown-menu">
               <li class="dropdown-item">
                   <a class="dropdown-item" href="{% url 'scholarship' %}">Scholarships</a>
               </li>
            </ul>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="{% url 'notices' %}">Notice </a>
         </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'gallery' %}">Gallery </a>
         </li>



      </ul>
    </div>
  </nav>

     {% block carousel %} {% endblock %}

      <div class="container">
         <div class="row">
            <div class="col-md-8 main">
                <!-- Main Body-->
                 {% block content%}{% endblock %}
           </div>
            {% block side-bar %}{% endblock %}
        </div>
    </div>

      <footer>
        <p class="footer-text">Copyright &copy; Nepal College of Information Technology</p>
    </footer>



  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
      $(document).ready(function(){
       $('.carousel').carousel({
        keyboard:true,
        interval:2500

})

});

  </script>

</body>
</html>