{% extends 'academics/base.html' %}

{% block content %}
 <h2 class="navy heading">Facilities</h2>

   <div class="course-desc mt-5">
       <p class="heading">Library</p>
       <p class="para ">
           NCIT has a spacious library of over 20,000 books including textbooks,
           reference, research & project reports, and audio-visual materials.
           Online access to international library networks and latest top journals,
           magazines, and newspapers is available. The library timing is 6:30am– 8:30pm,
           Sunday to Friday, for students to be able to do long study.
       </p>
   </div>

<div class="course-desc mt-5">
       <p class="heading">ICT</p>
       <p class="para">
          NCIT has a networked environment with a centrally located ICT
           – Information Communication Technology – Centre with uninterrupted
           internet connectivity and free WIFI. The College also has state-of-the-art
           computer labs to encourage e-learning and enhance computer skills so
           necessary in the contemporary knowledge socio-economy.


       </p>
   </div>

<div class="course-desc mt-5">
       <p class="heading">Canteen</p>
       <p class="para">
          The College has a fine canteen for students and employees
           in its premises. At NCIT, the food and beverage including
           free drinking water quality is checked cautiously – periodically
           or randomly and physically or scientifically.
           We ensure that all food items are fresh, clean, nutritious,
           chemical or pest-free, and as affordable as feasible.


       </p>
   </div>

<div class="course-desc mt-5">
       <p class="heading">Virtual Classes & Conferences</p>
       <p class="para">
         NCIT provides Virtual Classes for lectures, assignments,
           tutorials & note taking. These help learning better through
           digital inputs & outputs and greatly reinforce classroom teaching
           & self-study. Conference halls facilitate organizing lectures and
           conferences that are regular events on the campus. The halls are
           equipped with the latest educational technology for webinars and
           online workshops.
       </p>
   </div>


<div class="course-desc mt-5">
       <p class="heading">Project Labs</p>
       <p class="para">
        NCIT has cutting edge labs for project work & research.
           Students can put their theoretical knowledge to use and
           learn to work independently. Modern equipment allows students
           to apply theory to function and to do research.


       </p>
   </div>

{% endblock%}

