{% extends 'academics/base.html' %}

{% block content %}
 <h2 class="navy heading">Scholarships</h2>

   <div class="course-desc mt-5">
       <p class="heading">PU Scholarships</p>
       <p class="para ">
          The College provides scholarships to deserving students
           according to PU guidelines. 5% of the annual intake of students
           is provided scholarships in this category.

       </p>
   </div>

<div class="course-desc mt-5">
       <p class="heading">NCIT Scholarships</p>
       <p class="para">
         The College provides scholarships based on the student’s
         combined marks of +2/equivalent and the NCIT Entrance Test.
       </p>
   </div>

<div class="course-desc mt-5">
       <p class="heading">Performance Scholarships</p>
       <p class="para">
          TThe College awards full scholarships (Semester Fees waiver)
           to students who achieve an SGPA of 4 in any Semester for the
           subsequent Semester.
       </p>
    <p class="para">NCIT also awards those students who are class toppers or second- toppers.</p>
</div>

{% endblock%}

