{% extends 'academics/base.html' %}
{% block content %}
<h1>Register in simple three steps</h1>

<!-- multistep form -->
<form id="msform">

<!-- fieldsets -->
<fieldset>
<h2 class="fs-title">Create your account</h2>
<h3 class="fs-subtitle">This is step 1</h3>
<input type="number" name="roll" placeholder="Enter your roll number" />
<input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
<fieldset>
<h2 class="fs-title">Verify Phone number </h2>
<h3 class="fs-subtitle">This is step 2</h3>
<input type="text" name="code" placeholder="Enter verification code" />
<input type="button" name="previous" class="previous action-button" value="Previous" />
<input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
<fieldset>
<h2 class="fs-title">Personal Details</h2>
<h3 class="fs-subtitle">We will never sell it</h3>
<input type="email" name="email" placeholder="Enetr your email" />
<input type="password" name="password1" placeholder="Enter your password" />
<input type="password" name="password2" placeholder="Confirm your password" />
<input type="button" name="previous" class="previous action-button" value="Previous" />
<input type="submit" name="submit" class="submit action-button" value="Submit" />
</fieldset>
</form>
{% endblock %}