{% extends 'academics/base.html' %}

{% block content %}
 <h2 class="navy heading mb-5">College Gallery</h2>
  <div class="gallery-container">

           {% for image in gallery %}
           <div class="image-div">
                <a  class="tooltip-test"  title="{{image.caption}}" href="{{image.img.url}}" >
                <img class="img-thumbnail" src="{{image.img.url}}"
                   alt="{{image.caption}}" >

             </a>
           </div>


            {% endfor %}



  </div>


{% endblock%}

