{% extends 'academics/base.html' %}

{% block content %}
 <h2 class="navy heading mb-5">Notices</h2>
  {% for notice in notices %}

<div class="card notice-card">
    <div class="card-body">
        <h5 class="card-title">{{notice.heading}}</h5>
        <p class="text-muted"><em>Posted on : </em>{{notice.date_posted|date:"F d, Y"}}</p
         <p class="card-text">{{notice.body}}</p>
          <p class="text-muted">Posted by : {{notice.author}}</p>

        <a href="{{notice.get_absolute_url}}" class="btn btn-primary">View Notice</a>
  </div>
</div>
 {% endfor %}


{% endblock %}

